@mixin clearfix {
  &::after {
    content:"";
    display: table;
    clear: both;
  }
}

@mixin navigation-style {
  display:inline-block;
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@mixin text-box-style {
  clear:both;
  position:absolute;
  top:50%;
  left: 50%;
  /* with -50% -50% the box will be placed in the center */
  transform: translate(-50%,-50%);
  text-align: center;
}
