.composition {
  position: relative;

  &__photo {
    width: 40%;

    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    position: absolute;
    z-index: 10;
    transition: all .1s;
    // outline-offset: 2rem;

    &--p1 {
      left:0;
      top: -6rem;
    }

    &--p2 {
      right: 10%;
      top: -3rem;
    }

    &--p3 {
      left: 20%;
      top: 1rem;
    }

    &:hover {
      // outline: 0.3rem solid $color-grey-light;
      transform: scale(1.05) translateY(-.5rem);;
      box-shadow: 0 2rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }
}

.image-box {
  // clear:both;
  padding: 0.1rem;
}
