.form {
  &__group {
    padding-left: 0.5rem;
  }

  &__input {
    display: inline-block;
    float: left;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: $color-grey-light;
    padding: 0.8rem 2rem;
    border-radius: 2px;
    border:none;
    background-color: rgba($color-white,0.6);
    width: 60%;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black,.1);
      border-bottom: 2px solid $color-orange-light-1;
    }

    &:focus:invalid {
      border-bottom: 2px solid $color-pink-light-1;
    }
  }

  &__label {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: capitalize;
    color:$color-white;
    margin-left: 1rem;
    padding:0.3rem 1rem 0.5rem 1rem;
    height:3.3rem;
    display: inline-block;
    float: left;
    background-color: $color-brown-light;
    border-radius: 2px;
  }
}
